{% extends 'base.html.twig' %}

{% block body %}

    <h1>Product List</h1>
    <ul>

    {% for products in product %}
        <li>{{ products.nom }}&nbsp;{{ products.prix }} : [ <a href="{{
        path('product_edit', {'id': products.id}) }}">Edit</a> - <a href="{{ path('product_delete',
        {'id': products.id}) }}">Delete</a> - <a href="{{ path('feedback') }}">Feedback</a> ]</li>
    {% endfor %}

    </ul>
    <a href="{{ path('productform') }}">Add a product</a>
    
{% endblock %}